[submodule "magic-context"]
path = magic-context
url = git@github.com:igamenovoer/magic-context.git
branch = main

[submodule "extern/tracked/vidur"]
	path = extern/tracked/vidur
	url = https://github.com/imsight-forks/vidur
	branch = main
	shallow = true
[submodule "extern/tracked/LLMCompass"]
	path = extern/tracked/LLMCompass
	url = https://github.com/PrincetonUniversity/LLMCompass.git
	branch = main
	shallow = true
[submodule "extern/tracked/sarathi-serve"]
	path = extern/tracked/sarathi-serve
	url = https://github.com/imsight-forks/sarathi-serve
	branch = hz-dev
